@charset "utf-8";
#principal {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
#principal #contenido {
	padding: 30px;
	background-color: #FFF;
	float: left;
	width: 840px;
}
#contenido_usuarios {
	background-color: #FFF;
	float: left;
	width: 900px;
}

#principal #pie {
	background-image: url(../imagenes/pie_fondo.jpg);
	height: 50px;
	padding-top: 30px;
	text-align: center;
	color: #FFF;
	float: left;
	width: 900px;
}
body {
	background-image: url(../imagenes/fondo.jpg);
	background-repeat: repeat;
}
#validacion   {
	width: 300px;
	float: right;
	margin-right: 300px;
	margin-top: 40px;
}
#imagen_validacion   {
	width: 230px;
	float: left;
	border: 3px solid #692B36;
}
#menu_consultor {
	width: 225px;
	float: left;
}
#menu_grupoEmpresa {
	width: 225px;
	float: left;
}

#noticias_consultor {
	float: left;
	width: 675px;
}
#addActividad {
	float: left;
	width: 675px;
}

#noticias_grupoEmpresa {
	float: left;
	width: 675px;
}
