body{
  background-image: url(../imagenes/wallpaper-de-madera-oscura-pixsic.jpg);
  background-attachment: fixed;
}

#contenedor{
  border: 1px solid;
  border-bottom-color: #C0C0C0;
  border-top-color: #C0C0C0;
  border-left-color: #C0C0C0;
  border-right-color: #C0C0C0;
  width: 95%;
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;

}
header{
  background-color:#008080;
  opacity:0.8;
  border: 1px solid;
  border-bottom-color: #C0C0C0;
  border-top-color: #C0C0C0;
  border-left-color: #C0C0C0;
  border-right-color: #C0C0C0;
  width: 97%;
  margin: 0 auto;
}
h1{
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0px 5px 5px  ;
}
.espacio_menu_horizontal{
  border: 1px #C0C0C0;
  text-align: center;
  background: #008080;
  opacity:0.5;
  width: 40%;
  margin: 0 auto;
}
.menu_vertical{
  background-color: #D3D3D3;
  opacity:0.5;
  border: 1px solid;
  border: 1px solid;
  border-bottom-color: #C0C0C0;
  border-top-color: #C0C0C0;
  border-left-color: #C0C0C0;
  border-right-color: #C0C0C0;
  width:25%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1%;
}

section{
  background-color: #D3D3D3;
  opacity:0.5;
  border: 1px solid;
  bborder-bottom-color: #C0C0C0;
  border-top-color: #C0C0C0;
  border-left-color: #C0C0C0;
  border-right-color: #C0C0C0;
  width: 71%;
  height: 450px;
  float: left;
  margin-bottom: 1%;
}


footer{
  background-color: #D3D3D3;
  opacity:0.5;
  border: 1px solid;
  border-bottom-color: #C0C0C0;
  border-top-color: #C0C0C0;
  border-left-color: #C0C0C0;
  border-right-color: #C0C0C0;
  width: 97%;
  height: 10%;
  margin: 0 auto;
  clear: both;
}
